@import "tailwindcss";


.hero-bg{
  background: url('../assets/hero-bg.png');
  background-position: center;
}

.footer-bg{
  background: url('../assets/footer-bg.png');
  background-position: center;
}

@keyframes in-out {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

@keyframes spin {
   to {
    transform: rotate(360deg);
  }
}

/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */