@import "tailwindcss";


.hero-bg{
  background: url('../assets/hero-bg.png');
  background-position: center;
}

.footer-bg{
  background: url('../assets/footer-bg.png');
  background-position: center;
}

@keyframes in-out {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

@media screen and (max-width: 576px) {
  .hero-bg, .footer-bg{
  background-position: center; 
  background-repeat: no-repeat;
}
}

/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */